<div *ngIf="data">
  <img [src]="data.photo" class="thumbnail" />

  <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~|
  | Green Path                                                       |
  |~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~|
  | Un clic en el botón de compra debería enviar un evento al        |
  | componente padre.                                                |
  |~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->

  <button
    (click)="onProduct(data)"
    class="button expanded"
    [class.success]="data.state === 'selling'"
    [class.secondary]="data.state === 'sold'">
      <span *ngIf="data.state === 'selling'">
        <p>Comprar por {{ data.price | number: '1.2-2' }} €</p>
      </span>
      <span *ngIf="data.state === 'sold'">
        Ver detalles
      </span>
    </button>
</div>