<div>
  <div class="row">
    <div class="small-6 medium-2 large-3 columns">
      <input [(ngModel)]="productFilter.text" type="text" placeholder="Pe. Uncharted" id="text">
    </div>
    <div class="small-6 medium-2 large-3 columns">
      <select [(ngModel)]="productFilter.category" id="category">
        <option *ngFor="let category of categories" [value]="category.id">{{ category.name }}</option>
      </select>
    </div>
    <div class="small-12 medium-3 large-2 columns">
      <button (click)="notifyHost()" class="button expanded">Buscar</button>
    </div>
  </div>
  <div ng-controller="AccordionDemoCtrl">
      <accordion>
        <accordion-group is-open="group.open">
          <accordion-heading >
            <accordion-toggle >Búsqueda Avanzada</accordion-toggle>
          </accordion-heading>
            <div class="row">
              <div class="small-4 large-3 columns">
                <input [(ngModel)]="productFilter.priceMin" type="number" placeholder="0">
              </div>
              <div class="small-4 large-3 columns">
                <input [(ngModel)]="productFilter.priceMax" type="number" placeholder="999">
              </div>
              <div class="small-4 medium-2 large-1 columns">
                <p-dropdown [options]="order" [(ngModel)]="productFilter.order" placeholder="Ordenar por: " ></p-dropdown>
              </div>
              <div class="small-4 medium-2 large-3 columns">
                <p-inputSwitch onLabel="En Venta" offLabel="Vendidos" (onChange)="handleChange($event)"></p-inputSwitch>
              </div>
            </div>
        </accordion-group>    
      </accordion>
    </div>
</div>
